<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <!-- 변수 설정 -->
    <Properties>
<!--        <property name="SERVER_NAME">toyApi</property>-->
<!--        <property name="LOG_DIR">../logs/${SERVER_NAME}</property>-->
        <Property name="LAYOUT_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %clr{%5p} [%thread] %clr{[%logger{1.}]}{cyan} : %msg [traceId=%mdc{traceId}]%n</Property>
<!--        <Property name="FILE_LAYOUT_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%thread] [%logger{1.}] : %msg [traceId=%mdc{traceId}]%n</Property>-->
    </Properties>

    <!-- Appender, Layout 설정 -->
    <Appenders>
        <!-- 콘솔에 찍을 로그 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
        </Console>

        <!-- 파일 저장 : 기본 로그 -->
<!--        <RollingFile name="rollingFile"-->
<!--                     fileName="${LOG_DIR}/${SERVER_NAME}.log"-->
<!--                     filePattern="${LOG_DIR}/${SERVER_NAME}_%d{yyyy-MM-dd}.log.gz">-->
<!--            <PatternLayout pattern="${FILE_LAYOUT_PATTERN}"/>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy modulate="true"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy>-->
<!--                <Delete basePath="${LOG_DIR}" maxDepth="1">-->
<!--                    <IfLastModified age="14d"/>-->
<!--                </Delete>-->
<!--            </DefaultRolloverStrategy>-->
<!--        </RollingFile>-->

        <!-- 파일 저장 : 에러 로그 -->
<!--        <RollingFile name="rollingFile_error"-->
<!--                     fileName="${LOG_DIR}/${SERVER_NAME}_error.log"-->
<!--                     filePattern="${LOG_DIR}/${SERVER_NAME}_error_%d{yyyy-MM-dd}.log.gz">-->
<!--            <PatternLayout pattern="${FILE_LAYOUT_PATTERN}"/>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy modulate="true"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy>-->
<!--                <Delete basePath="${LOG_DIR}" maxDepth="1">-->
<!--                    <IfLastModified age="14d"/>-->
<!--                </Delete>-->
<!--            </DefaultRolloverStrategy>-->
<!--        </RollingFile>-->
    </Appenders>

    <!-- Logger 설정 -->
    <Loggers>
<!--        <Logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG"/>-->
        <Logger name="org.hibernate.sql" level="DEBUG"/>
        <Logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/> <!-- for sql parameter -->

        <Root level="INFO">
            <AppenderRef ref="console" level="TRACE"/>
<!--            <AppenderRef ref="rollingFile" level="DEBUG"/>-->
<!--            <AppenderRef ref="rollingFile_error" level="ERROR"/>-->
        </Root>
    </Loggers>

</Configuration>